.App {
  text-align: center;
}

button {
  border-radius: 4px;
  background-color: #767676;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.ui.negative.message{
  position: absolute;
  z-index: 10;
}

.main-content{
  margin-top: 50px;
}

.Menu .ui.grey.huge.inverted.vertical.menu{
  height: 100vh;

}
.complete-task-input{
}
.add-decision-competitors-container{
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.decision-global-op-local-inner{
  display:inline-flex;
}

.add-decision-competitors-inner-container{
  display:inline-flex;
}
.decision-global-op-local{
  display: block;
  margin-top: 10px;
}
.add-decision-form label{
  margin-left: 5px;
  margin-right: 5px;
}

.divider{
  margin-top:20px;
  margin-bottom:10px;
}

.add-decision-form .ui.horizontal.divider {
  margin:0px;
}

.loading-screen{
  margin: 200px;
}
.select-payload-label div{
  width: 240px;
}
.select-operator-label div{
  width: 99px;
}

.select-operand-label div{
  width: 150px;
}

.add-decision-form{
  display: inline-grid;
}
.competitors-dropdown{
  margin-left: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.acc-selector{
  position: absolute;
  top: 30px;
  left: 340px;
  z-index: 100;
  width: max-content;
}

.change-payload-container{
  display:inline-grid;
}

.change-payload-item{
  margin-top: 5px;
  margin-bottom: 5px;
}

.select-task{
  margin:5px
}

.router-link {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 1em;
  margin: -1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
